<script type="text/javascript">
    var data  = {{data}};
    var vis;

    $(function() {
        vis = generateCalendar({{first_year}}, {{last_year}});
        showImpact();
    });
</script>

<div id="calendar"></div>
