Basic stats – <a href="../{{repo_name}}/calendar">Calendar</a>

<h1>Stats for <em>{{repo_name}}</em></h1>

{{> repository_information}}
{{> most_significant_authors}}
{{> top_committers}}
{{> most_significant_commits}}

<div id="timestamp">Generated at {{now}}</div>
