<script type="text/javascript">
    $(formHandler);
</script>

<form action="stats">
    <input id="user" name="user" type="text" value="user name" />
    /
    <input id="project" name="project" type="text" value="project" />
    <br /><br />
    <button id="submit" type="submit">Generate stats!</button>
</form>
