<div id="most_significant_commits">
    <h3>Top commits by line changes</h3>
    <table>
        {{#most_significant_commits}}
          <tr class="{{even_odd}}">
            <th>{{> commit/minimal}}</th>
            <td class="add">+{{additions}}</td>
            <td>/</td>
            <td class="del">-{{deletions}}</td>
          </tr>
        {{/most_significant_commits}}
        {{reset_count}}
    </table>
</div>
